body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  cursor: pointer;
}

#courseGenerator button, #addCourse button{
  margin-top: 50px;
}

.home {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-home {
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
  background-color: white;
}

.btn-home:hover {
  opacity: 0.5;
}

.jumbotron {
  background-color: #9DBF9E;
  color: #fff;
  padding: 80px;
}

.input-course-container {
  background-color: #9DBF9E;
  color: #fff;
  padding: 80px;
}

.generate-course-container {
  background-color: #ffffff;
  color: #000000;
  padding: 80px;
}
.jumbotron h1 {
  padding-bottom: 20px;
}

.jumbotron p {
  font-size: 20px;
}

.detail-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  /* Adjust the value according to your preference */
}

.btn-primary {
  width: 200px;
  /* Adjust the width according to your preference */
}

.text-center a {
  margin-top: 50px;
}

.input-course-container h2 {
  margin-top: 25px;
}

#addCourse h2 {
  text-align: left;
  font-size: larger;
}

#addCourse .enteredCoursesList {
  text-align: left;
}

#recommended-courses-list {
  text-align: left;
  margin-top: 10px;
  padding-left: 30px;
}

.courseDetails p {
  text-align: left;
  margin-top: 10px;
  padding-left: 20px;
}

#genTreeBtn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.delete-course-btn {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 6px; 

}

