body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.team-text h2 {
    text-align: center;
    padding-bottom: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    flex: 1;
    padding: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;

}

.text p {
    font-size: 16px;
    line-height: 1.5;
}

.download-button {
    display: block;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #CFA586;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 8px
}


.team {
    padding: 100px;
    background-color: #EEE9E3;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    text-align: center;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    /* Adjust the size as needed */
    height: 150px;
    /* Adjust the size as needed */
    display: block;
    margin: 0 auto;
}

.download-button-two {
    display: block;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: #CFA586;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px
}

.buttons-container img {
    width: 420px;
    /* Adjust the size as needed */
    height: 420px;
    /* Adjust the size as needed */
}
